@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', 'sans-serif';
    margin: 0;
    /* height: 120vh; */
}

nav .nav-wrapper {
    height: 100%;
    padding: 0 3%;
}

.hero-banner {
    height: 44vh;
    background-image: url(../images/hero-bnr.jpg);
    background-size: cover;
    background-position: center;
    min-height: 10vh;
}

/* first-card */
.overlap-card {
     top:-18vh;
     height: 40vh;
}

.shape {
    top:0;
    right:0;
    width: 0;
    height: 0;
    border-bottom: 40vh solid #ffb74d;
    border-left: 8vh solid transparent;
    position: absolute;
}

.aboutMe-image {
    height: 40vh;
}

.aboutMe-text {
    height: 40vh;
    padding:  14px;
}

.aboutMe-title {
    margin-bottom: 1vh;
}

.aboutMe-text button{
    border-radius: 4px;
}

.aboutMe-image img {
    height: 100%;
    width: 100%;
} 


/* second-card */
.skill-card {
    height: 40vh;
    top:-18vh;
}

.skill-cards {
    margin-top: 6vh;
}

.subCard {
    height: 22vh;
    border: hidden;
    padding:10px;
    border-radius: 4px;
}

.subCard-title {
    font-size: 120% !important;
    color:#455a64 !important;
    padding:10px;
    background-color: #ffb74d;
    border-radius: 4px;
}



/* third-card */
.projects-card {
    height: 40vh;
    top:-18vh;
}

.footer {
    font-size: 12px;
    height: 40vh;
}
