:root {
    --clr01: #166bb1;
    --clr02: #b2e4fc;
}

header {
    background-color: var(--clr01);
    width: 100%;
    height:80px;
    padding: 10px 10px;
    color: var(--clr02);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 0 var(--clr02);
}

header h1 {
    margin-left: 30px;
    font-size: 2.6vw;
    display: flex;
}

.menu {
    width: 30%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-right: 10px;
}

.menu a {
    width: 160px;
    font-size: 1.1vw;
    margin: 10px 0;
    flex: 1 1 80px;
    color: var(--clr02);
    text-align: center;
    text-decoration: none;
}

.hero {
    width: 100%;
    background-image: linear-gradient(#00000090, #00000090), url("../images/main-page-figure02.jpg");
    min-height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-position: top;
    text-align: center;
    margin-bottom: 0;
}

.hero h2 {
    width: 100%;
    padding: 30px 30px;
    color: var(--clr02);
    justify-content: center; 
    align-self: center;
    font-size: 1.5vw;
    font-family:'Lucida Grande', 'Lucida Sans Unicode'
}

.main-page {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right:auto;
}

.section {
    padding: 20px 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    color: var(--clr02);
    line-height: 1.3em;
    min-height: 0px;
    max-height: 600px;
}

.section h3 {
    margin-bottom: 25px;
    font-size: 1.8vw;
    width: 100%;
    text-align: center;
    font-family:'Lucida Grande', 'Lucida Sans Unicode';
}

#about {
    background-color: var(--clr01);
}

.about-split {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.about-text {
   width: 80%;
   text-align: center;
   flex: 0 0 80%;
}

.about-image {
    padding-right: 20px;
    width: 20%;
    flex: 0 0 20%;
}

.about-image img {
    border-radius: 100%;
    border: 2px solid var(--clr02);
    max-height: 10vw;
    max-width: 10vw;
}

#projects {
    background-color: #a3c4d4;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 150vw;
}

.project {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.project-item {
    height: 5vw;
    width: 27vw;
    border: 3px solid var(--clr02);
    margin: 10px 10px;
    align-items: flex-start;
    display: flex;
    justify-self: center;
    flex: 1 1 auto;
}

.project-item h4 {
    align-self: center;
}

#main-project {
    width: 55vw;
    height: 14vw;
}

#contact {
    background-color: #1f2e35;
}

.contact-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: auto;
    flex-wrap: wrap;
}

.contact-item {
    margin: 1vw 8vw;
    text-decoration: underline;

} 

.contact-container ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.contact-container ul li {
    font-size: 15px;
    margin: 10px 10px;
    align-self: center;
    margin: 1vw 5vw;
}

.contact-container ul li img {
    width: 15px;
    height: 15px;
    align-self: center;
    margin-right: 10px;
}

footer {
    width: 60%;
    font-size: 0.6vw;
    margin-left: auto;
    margin-right:auto;
    flex: 1 1 80px;
    color: var(--clr02);
    text-decoration: none;
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #166bb1;
}

footer h4  {
    text-align: center;
    padding: 20px 20px;
}
